BOT_TOKEN=...
PORT=3010
DB_CONNECTION=mysql://root:root@localhost:3306/gopnik
TELEGRAM_SESSION_HOST=127.0.0.1
TELEGRAM_SESSION_PORT=6379
SPAM_TIMEOUT=500
ENERGY_RESTORE_TICK=15
TICK_MILLISECONDS=10000
